<% include header %>

	<div class="title">
		<h1>PokéHunt</h1>
	</div>
	
  <div id="map"></div>

  <div class="stats">
		<!-- Watch position toggle -->
		<a id="posWatcher" class="right btn-floating btn-large waves-effect waves-light grey darken-1">
			<i class="material-icons">my_location</i>
  	</a>

  	<!-- Modal trigger -->
  	<a data-target="modal1" class="right btn-floating btn-large waves-effect waves-light modal-trigger red darken-1">
			<i class="material-icons">person_pin</i>
  	</a>
  	
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h2>Collection ( 0 )</h2>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <% include partials/geolocation.ejs %>

<% include footer %>