<% include header %>

	<div class="title">
		<h1><%= title %></h1>
	</div>
	
  <div id="map"></div>

  <div class="stats">
    <div class="right stat-items">
		  
      <h4 class=""><%= user.username %></h4>

    	<!-- Modal trigger -->
    	<a id="itemsModal" data-target="modal1" class="btn-floating btn-large waves-effect waves-light modal-trigger">
  			<i class="material-icons">person_pin</i>
    	</a>

      <!-- Watch position toggle -->
      <a id="posWatcher" class="btn-floating btn-large waves-effect waves-light grey darken-1">
        <i class="material-icons">my_location</i>
      </a>
    	
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h5>Collection ( <span id="num-pokemon">0</span> )</h5>
			<div id="poke-images"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</button>
      <a href="/logout" class="modal-action modal-close waves-effect waves-red btn-flat">Logout</a>
    </div>
  </div>

  <% include partials/geolocation.ejs %>