<% include header %>

<section id="home">
	<div class="overlay">
		<h1>PokéHunt</h1>
		<a class="btn waves-effect waves-light blue darken-1">how to</a>
		<a href="/game" class="btn waves-effect waves-light red darken-1">play</a>
	</div>
</section>

<% include footer %>