@font-face {
  font-family: pokeFont;
  src: url(/font/pokemon_solid.ttf);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
	font-size: 50px;
	text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
}

h2 {
	font-size: 20px;
}

#map {
  height: 100%;
}

.title {
	position: fixed;
	z-index: 10;
	left: 50%;
  transform: translate(-50%, 0);
  font-family: pokeFont;
}

.stats {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 10px;
	cursor: pointer;
}

#posWatcher {
	margin-left: 5px;
}

#home {
	height: 100vh;
	background-image: url('/img/map.PNG');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;

	h1 {
		font-size: 65px;
		font-family: pokeFont;
		color: white;
		margin-top: 3em;
	}
}
