@font-face {
  font-family: pokeFont;
  src: url(/font/pokemon_solid.ttf);
}

/* MATERIALIZE OVERRIDES*/

@import 'components/color';
$secondary-color: color("red", "darken-1");


// fix for tab overflow issue
.tabs {
	overflow-x: hidden;
}

/* APPLY MATERIALIZE OVERRIDES */
@import 'materialize.scss';

/* MAIN STYLES */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


h1, h2, h3 {
	margin: 15px 0 15px 0;
}

h1 {
	font-size: 50px;
	text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
}

h2 {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

h4 {
	display: inline-block;
	vertical-align: middle;
	text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
	font-weight: bold;
	font-size: 40px;
}

h5 {
	font-size: 20px;
}

hr {
	border: 0;
	border-top: 5px dotted;
	width: 70px;;
}

.row {
	margin-bottom: 0;
}

.content {
	padding-top: 2em;
	padding-bottom: 2em;
	overflow: auto;
}

/* HOME PAGE */
#home {
	height: 100vh;
	background-image: url('/img/map.PNG');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#home:after {
	content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

}

.overlay {
	position: relative;
	z-index: 50;
	width: 100%;
	top: 50%;
  transform: translateY(-50%);
	text-align: center;

	h1 {
		font-size: 65px;
		font-family: pokeFont;
		color: white;
		text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

#about {
	p {
		text-align: justify;
  	text-justify: inter-word;
  	padding: 0 15px;
	}
	
}

.howto-btn {
	margin-right: 10px;
}

#how-to {
	background-color: black;
	a {
		margin-bottom: 10px;
	}
}

.how-to-content {
	text-align: center;
}

.how-to-text {
	margin-bottom: 10px;
}

#footer {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 12px;
}


/* GAME PAGE */
#map {
  height: 100%;
}

.title {
	position: fixed;
	margin-top: 20px;
	z-index: 10;
	left: 50%;
  transform: translate(-50%, 0);
  font-family: pokeFont;
}

.stats {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 10px;
	a {
		cursor: pointer;
	}
	h3 {
		display: inline-block;
	}
}

#posWatcher, #itemsModal {
	margin-left: 5px;
}

#modal1 {
	h3 {
		text-align: left;
	}
}

/* MEDIA QUERIES */

@media screen and (min-width: 767px) {

	h2 {
		font-size: 30px;
	}

	.overlay {
		h1 {
			font-size: 100px;
		}
	}

	.content {
		padding-left: 100px;
		padding-right: 100px;
	}
} 

@media screen and (min-width: 1300px) {
	.content {
		padding-left: 15em;
		padding-right: 15em;
	}
}